.header__menu-button {
    display: none;
}

@media screen and (max-width: 640px) {
    .header__menu-button {
    padding: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-size: cover;
    }   
  }
  