.header__menu-button {
    display: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.header__menu-button:hover {
    opacity: 0.6;
  }
  

@media screen and (max-width: 640px) {
    .header__menu-button {
    margin-right: 30px;
    padding: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-size: cover;
    }   
  }
  